fastapi
uvicorn
SQLAlchemy
pydantic
pydantic[email]
pydantic-settings
python-dotenv
asyncpg
alembic
# pytest
# pytest-asyncio
# httpx
# pre-commit
python-jose
passlib
python-multipart
bcrypt
# greenlet
# sentry-sdk[fastapi]
# starlette-exporter